project:
  type: book

format:
  these-memoire-udem-pdf: default

book:
  title: "Titre du mémoire ou de la thèse"
  author: "Auteur/Autrice"
  date: "Janvier 2026"
  chapters:
    - index.qmd ## C'est nécessaire d'appeler ce chapitre index. Toutefois, inscriver vos remerciements dans ce fichier
    - intro.qmd ## Chapitre d'intro
    - théorie_revue_lit.qmd ## Chapitre pour la théorie et la revue de la littérature
    - méthodologie.qmd ## Chapitre pour la méthodologie
    - analyses.qmd ## Chapitre pour les analyses
    - discussion.qmd ## Chapitre pour la discussion
    - conclusion.qmd ## Chapiter pour la conclusion
    - bibliographie.qmd ## Chapitre pour la bibliographie
  appendices:
    - annexes.qmd ## Chapitre pour les annexes

diplome:
  doctorat: true # Permet de spécifier s'il s'agit d'une thèse ou d'un mémoire

# president-raporteur: Ajouter président raporteur

# directeur: Ajouter directeur
# directrice: Ajouter directrice

# co-directeur: Ajouter co-directeur
# co-directrice: Ajouter co-directrice

# jury: Ajouter membre du jury

# examinateur-externe: Ajouter examinateur-externe (Thèse)
# examinatrice-externe: Ajouter examinatrice-externe (Thèse)

bibliography: bibliography/references.bib
csl: bibliography/style-citations.csl

resume-fr: |
  Ajouter un résumé en français ici.

mots-clés: "Mot clé 1, mot clé 2, etc."

resume-eng: |
  Add the English abstract here.

keywords: "Keyword 1, keyword 2, etc."
